.contact {
  background-color: var(--white);
  border-radius: 6px;
  width: 100%;
  box-shadow: 0 1px 4px #00000033;
  margin: 3.5rem 0 auto 0;
  max-width: 700px;
}

.contact h1 {
  text-align: left;
}

.form {
  padding: 12px;
}

.form label {
  display: block;
  font-weight: bold;
}

.form input,
.form textarea {
  font: inherit;
  padding: 2px;
  border-radius: 4px;
  width: 100%;
  border: 1px solid var(--page-black);
  resize: none;
}

.controls {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.control {
  flex: 1;
  min-width: 10rem;
}

.actions {
  margin-top: var(--size-4);
  margin-top: 4px;
  text-align: center;
}

.form button {
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--button-bg);
  border: 1px solid var(--button-bg);
  padding: 2px;
  border-radius: 4px;
  color: inherit;
  box-shadow: 0 1px 4px var(--shadow);
  margin: 2rem;
}

.ready {
  background: var(--gradientblue90);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textarea {
  background: url('/assets/img/site-img/sheep-box.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: var(--white);
}

.title {
  font-size: 1.6rem;
  background: var(--gradientblue90);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 2.2rem;
}
