.container {
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.front {
  margin-left: 3.5rem;
}
.back {
  margin-left: 1rem;
}

.container h2 {
  margin-bottom: 0;
}

.container ul {
  padding-left: 0;
  margin-top: 0;
}

.container li {
  list-style: none;
}

.container a:hover {
  font-weight: bold;
  transition: all 0.3s;
}

.border {
  border-bottom: 1px solid #eaeaea;
}

.container i {
  margin-top: 1rem;
}

.container p {
  margin: 8px;
}

@media screen and (min-width: 768px) {
  .container {
    margin: 3.5rem 0 auto 0;
  }

  .container i {
    display: none;
  }
}
