.notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 1px 8px #00000033;
  position: fixed;
  height: 5rem;
  bottom: 35%;
  width: 100%;
  left: 0;
  border-radius: 6px;
}

.notification h2 {
  margin: 0;
}

.notification p {
  margin: 0;
}

.pending {
  background: linear-gradient(90deg, #007cf0b4, #00e0d9b4);
  color: black;
}
.success {
  background-color: #33dd33af;
  color: black;
}

.error {
  background-color: #ff0000af;
  color: black;
}

.spinner {
  align-self: center;
}

@media (min-width: 400px) {
  .notification {
    width: 100%;
    bottom: 45%;
  }
}

@media (min-width: 768px) {
  .notification {
    width: 40rem;
    bottom: 40%;
    left: calc(50% - 20rem);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }
}
